@import url(˙https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap1˙);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ˙Poppins˙, sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-image: url(images/test.jpg);
    background-position: center;
}
h2
{
    position: relative;
    font-size: 10vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw url(images/test.jpg);
    text-transform:  uppercase;
}
h2::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%, 10%, 100%
    {
        width: 0;
    }
    70%, 90%
    {
        width: 100%;
    }
}
.socialMedia
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.sci
{
    position: relative;
    display: flex;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    font-size: 4em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
}